# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local
RobotScripts/keys/*.json


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Firebase
image-test-permissions.json
robot-service-account.json
goku.jpg

#ROS2 Package and Python Cache Files
build/
install/
log/
*.pyc
__pycache__/
*.swp

