# Jetson Nano pinned ML stack
--extra-index-url https://developer.download.nvidia.com/compute/redist/jp/v46/pytorch

torch==1.10.2
torchvision==0.11.3

onnx
onnxsim
numpy<2
opencv-python==4.5.5.64

# YOLO (Ultralytics) pinned to compatible version
# ultralytics==8.0.95

# ROS Python tools (optional)
rclpy
cv_bridge
